<div>
  <ul>
    <li>
      <h1 [class.grey]="h1GreyStyle">basic css class binding</h1>
    </li>
    <li>
      <h1 [ngClass]="{
          'grey': h1GreyStyle,
          'large': h1GreyStyle
        }">ngClass binding method</h1>
    </li>
    <li>
      <h1 [style.color]="h1GreyStyle ? 'grey' : 'black'">style.color param and ternary operator</h1>
    </li>
    <li>
      <h1 [ngStyle]="{
          'color': h1GreyStyle ? 'grey' : 'black',
          'font-size': h1GreyStyle ?  '4em' : '1em'
        }">style.color
        param and ternary operator</h1>
    </li>
    <li>
      <h1 [style.color]="h1GreyStyle ? 'grey' : 'black'">using global service</h1>
    </li>
  </ul>
</div>
<p>
  <button (click)='someClick()'>Some click</button>
</p>
<p>
  <button (click)='usingGlobalClick()'>Some gloabl service click (check console)</button>
</p>

<ul class='users-list' *ngIf="users">
  <li *ngFor="let user of users.data">
    <img [src]="user.avatar" alt="avatar">
    <p>{{user.first_name}} {{ user.last_name }}</p>
  </li>
</ul>